.caja{
    background-color: darkgreen;
    padding: 10px 10% 10px 10%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 70%;
    position: relative;
    left: 20%;
    top: 10%;
    border: 1px solid darksalmon;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.Logo{
    
    width: 60%;
    margin: 30px;
    position: relative;
    margin-left: 100px;
    
}